<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="metadataBehavior()">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="metadataBehavior()" name="ServiceMtk_P1_20160140086.Matematika">
                <endpoint address="http://localhost:1909" binding="mexHttpBinding"
                    bindingConfiguration="" name="EndpointMex" contract="IMetadataExchange" />
                <endpoint binding="basicHttpBinding" bindingConfiguration=""
                    name=" EndpointService" bindingName="" contract="ServiceMtk_P1_20160140086.IMatematika" />
            </service>
        </services>
    </system.serviceModel>
</configuration>